<%- include ("./partials/header") %>
<p>Discover Africa</p>
<form class="d-flex" role="search">
  <button class="btn btn-primary" type="submit">New post</button>
  <button class="btn btn-danger" type="submit">Delete post</button>
</form>
<%- include ("./partials/footer") %>
