<%- include ("./partials/header") %>

<div class="container">
  <h1 class="mb-4">Edit current post</h1>
  <form action="/articles/<%=article.id %>?_method=PUT" method="POST">
   
  
      <%- include('./partials/_form_fields') %>
      
    </div>
  </form>
  <%-include ("./partials/footer") %>
</div>



